{
 "location" : "/opt/cloudera/AutoTLS",
 "customCA" : false,
 "interpretAsFilenames" : "true",
 "configureAllServices" : "true",
 "sshPort" : 22,
 "userName" : "training",
 "password" : "training",
 "trustedCaCerts": "/usr/java/default/jre/lib/security/jssecacerts.pem"
}
