HOME            = .

####################################################################
[ ca ]
default_ca    = CA_default      # The default ca section

####################################################################
[ CA_default ]

dir					= /var/lib/cloudera-scm-agent/agent-cert
private_key	    	= $dir/cm-auto-host_key.pem
certificate			= $dir/cm-auto-in_cluster_ca_cert.pem
default_days		= 365          # How long to certify for
default_crl_days	= 30           # How long before next CRL
#default_md			= sha256       # Use public key default MD
preserve			= no           # Keep passed DN ordering
policy				= policy_anything

####################################################################
[ policy_anything ]
countryName			= optional
stateOrProvicneName	= optional
localityName		= optional
organizionName		= optional
organizationUnitName = optional
commonName			= supplied
emailAddress		= optional

####################################################################
[req ]
default_bits		= 2048
#default_md			= sha256       # Use public key default MD
default_keyfile		= cm-auto-host_key.pem
distinguished_name	= ca_distinguished_name
x509_extensions		= ca_extensions
string_mask			= utf8only
email_in_dn			= no            # Don't concat the email in the DN
copy_extensions		= copy          # Required to copy SANs from CSR to cert

####################################################################
[ ca_distinguished_name ]
countryName					= Country Name (2 letter code)
countryName_default			= US

stateOrProvinceName			= State or Province Name (full name)
stateOrProvinceName_default = CA

localityName				= Locality Name (eg, city)
localityName_default		= Santa Clara

organizationName			= Organization Name (eg, company)
organizationName_default	= Example

organizationalUnitName		= Organizational Unit (eg, division)
organizationalUnitName_default = Edu 

commonName					= Common Name (e.g. server FQDN or YOUR name)
commonName_default			= SCM Local CA on cmhost.example.com 

emailAddress				= Email Address
emailAddress_default		= nkelly@example.com

####################################################################
[ ca_extensions ]
basicConstraints			= CA:FALSE
keyUsage					= nonRepudiation, keyEncipherment, keyCertSign, cRLSign
