[Desktop Entry]
Version=1.0
Type=Link
Name=Ambari Logout
Comment=
Icon=gnome-fs-bookmark
URL=https://client02.cloudair.lan:8443/gateway/knoxssout/api/v1/webssout
