{
  "items": [
    {
      "name": "kdc_type",
      "value": "Red Hat IPA",
      "sensitive": true
    },
    {
      "name": "krb_enc_types",
      "value": "aes256-cts-hmac-sha1-96 aes128-cts-hmac-sha1-96",
      "sensitive": true
    },
    {
      "name": "security_realm",
      "value": "EXAMPLE.COM",
      "sensitive": true
    },
    {
      "name": "kdc_host",
      "value": "ipa.example.com",
      "sensitive": true
    },
    {
      "name": "kdc_admin_host",
      "value": "ipa.example.com",
      "sensitive": true
    },
    {
      "name": "krb_krb5_conf_path",
      "value": "/etc/krb5.conf",
      "sensitive": true
    },
    {
      "name": "krb_manage_krb5_conf",
      "value": "false",
      "sensitive": true
    },
    {
      "name": "krb_ticket_lifetime",
      "value": 86400,
      "sensitive": true
    },
    {
      "name": "krb_renew_lifetime",
      "value": 604800,
      "sensitive": true
    },
    {
      "name": "krb_dns_lookup_kdc",
      "value": "false",
      "sensitive": true
    },
    {
      "name": "krb_forwardable",
      "value": "true",
      "sensitive": true
    },
    {
      "name": "krb_kdc_timeout",
      "value": 3000,
      "sensitive": true
    },
    {
      "name": "REMOTE_PARCEL_REPO_URLS",
      "value": "",
      "sensitive": true
    },
    {
      "name": "parcel_distribute_rate_limit_kbs_per_second",
      "value": 256000,
      "sensitive": true
    }
  ]
}
