{ "items": [ 
    { 
        "name": "krb_auth_enable", 
        "value": "true", 
        "sensitive": "true" 
    },
    { 
        "name": "proxyuser_knox_groups",
        "value": "*",
        "sensitive": "true" 
    },
    {
        "name": "proxyuser_knox_hosts",
        "value": "*",
        "sensitive": "true"
    },
    {
        "name": "proxyuser_knox_users",
        "value": "*",
        "sensitive": "true"
    },
    {
        "name": "frontend_url",
        "value": "https://edge.example.com:8443",
        "sensitive": "true"
    }
    ]
}
