{ "items": [ 
    { 
        "name": "auth_backend_order", 
        "value": "DB_THEN_LDAP", 
        "sensitive": "true" 
    },
    { 
        "name": "authorization_backend_order",
        "value": "EXTERNAL_AND_DB",
        "sensitive": "true" 
    },
    {
        "name": "ldap_type",
        "value": "PAM",
        "sensitive": "true"
    }
    ]
}
