{
  "items": [
    {
      "authRoles": [
        {
          "displayName": "Full Administrator",
          "name": "ROLE_ADMIN",
          "uuid": "50261725-d202-4dca-aced-e1b5ab0cdfe4"
        }
      ],
      "name": "admins",
      "uuid": "28386c9b-1fdc-487b-b52f-4979fdeb02b3",
      "type": "LDAP"
    },
    {
      "authRoles": [
        {
          "displayName": "Dashboard User",
          "name": "ROLE_DASHBOARD_USER",
          "uuid": "231157d5-dbd9-47b1-a9e8-e7a104cf5986"
        },
        {
          "displayName": "Read-Only",
          "name": "ROLE_USER",
          "uuid": "a9c71a73-903e-4b69-b1c9-cf08bdc736a8"
        }
      ],
      "name": "biz",
      "uuid": "adb2494b-e292-42d2-9da1-cae912308f28",
      "type": "LDAP"
    },
    {
      "authRoles": [
        {
          "displayName": "Limited Cluster Administrator",
          "name": "ROLE_LIMITED_CLUSTER_ADMIN",
          "uuid": "c2ad6b83-d256-4c84-9ec9-c49a0dd2f3bc"
        }
      ],
      "name": "deng",
      "uuid": "65f574f0-698a-482d-b42a-b71d120b41d7",
      "type": "LDAP"
    },
    {
      "authRoles": [
        {
          "displayName": "Limited Operator",
          "name": "ROLE_LIMITED",
          "uuid": "6add7f87-f6df-4b42-be08-d137d2090bb1"
        }
      ],
      "name": "dev",
      "uuid": "c42ed594-bfb7-4ab3-b0de-bb7c98c56f51",
      "type": "LDAP"
    },
    {
      "authRoles": [
        {
          "displayName": "Dashboard User",
          "name": "ROLE_DASHBOARD_USER",
          "uuid": "231157d5-dbd9-47b1-a9e8-e7a104cf5986"
        },
        {
          "displayName": "Read-Only",
          "name": "ROLE_USER",
          "uuid": "a9c71a73-903e-4b69-b1c9-cf08bdc736a8"
        }
      ],
      "name": "fin",
      "uuid": "79b646ea-e42e-43a3-a014-1a5e2df291c6",
      "type": "LDAP"
    },
    {
      "authRoles": [
        {
          "displayName": "Auditor",
          "name": "ROLE_AUDITOR",
          "uuid": "95048dbb-d278-4805-8822-7c0fa5bfc0ff"
        },
        {
          "displayName": "Dashboard User",
          "name": "ROLE_DASHBOARD_USER",
          "uuid": "231157d5-dbd9-47b1-a9e8-e7a104cf5986"
        }
      ],
      "name": "gov",
      "uuid": "2c7caa5f-1bd4-47ea-a5ae-f7e77becbe4c",
      "type": "LDAP"
    },
    {
      "authRoles": [
        {
          "displayName": "Dashboard User",
          "name": "ROLE_DASHBOARD_USER",
          "uuid": "231157d5-dbd9-47b1-a9e8-e7a104cf5986"
        },
        {
          "displayName": "Read-Only",
          "name": "ROLE_USER",
          "uuid": "a9c71a73-903e-4b69-b1c9-cf08bdc736a8"
        }
      ],
      "name": "hr",
      "uuid": "e61b78b9-965c-4a42-81bd-4cd21e36953f",
      "type": "LDAP"
    },
    {
      "authRoles": [
        {
          "displayName": "Replication Administrator",
          "name": "ROLE_BDR_ADMIN",
          "uuid": "d7fb95c1-9a94-47df-8bbf-73713154e39f"
        },
        {
          "displayName": "Operator",
          "name": "ROLE_OPERATOR",
          "uuid": "ee29e580-8817-490e-a0ee-29e4cd3c970e"
        },
        {
          "displayName": "User Administrator",
          "name": "ROLE_USER_ADMIN",
          "uuid": "76b1af9f-b288-4e24-9f48-341021ea6a51"
        }
      ],
      "name": "ops",
      "uuid": "5f648e49-4a60-4ab3-a176-9bc8c392ec96",
      "type": "LDAP"
    },
    {
      "authRoles": [
        {
          "displayName": "Dashboard User",
          "name": "ROLE_DASHBOARD_USER",
          "uuid": "231157d5-dbd9-47b1-a9e8-e7a104cf5986"
        },
        {
          "displayName": "Read-Only",
          "name": "ROLE_USER",
          "uuid": "a9c71a73-903e-4b69-b1c9-cf08bdc736a8"
        }
      ],
      "name": "sale",
      "uuid": "2c517b00-475a-487e-8b91-669548db848c",
      "type": "LDAP"
    },
    {
      "authRoles": [
        {
          "displayName": "Dashboard User",
          "name": "ROLE_DASHBOARD_USER",
          "uuid": "231157d5-dbd9-47b1-a9e8-e7a104cf5986"
        },
        {
          "displayName": "Read-Only",
          "name": "ROLE_USER",
          "uuid": "a9c71a73-903e-4b69-b1c9-cf08bdc736a8"
        }
      ],
      "name": "sci",
      "uuid": "cc7bf20d-ec43-4ecd-b3d4-58f6471dad4c",
      "type": "LDAP"
    },
    {
      "authRoles": [
        {
          "displayName": "Auditor",
          "name": "ROLE_AUDITOR",
          "uuid": "95048dbb-d278-4805-8822-7c0fa5bfc0ff"
        },
        {
          "displayName": "Dashboard User",
          "name": "ROLE_DASHBOARD_USER",
          "uuid": "231157d5-dbd9-47b1-a9e8-e7a104cf5986"
        },
        {
          "displayName": "Key Administrator",
          "name": "ROLE_KEY_ADMIN",
          "uuid": "a6771383-2076-477a-af79-2501c9475255"
        }
      ],
      "name": "sec",
      "uuid": "eee43411-4974-4a99-9074-ff546463a6aa",
      "type": "LDAP"
    }
  ]
}
